:root {
  --color-principal: #60b5ff;
  --color-secundario: #afddff;
  --color-terciario: #ffecdb;
  --color-quaternario: #ff9149;
}

html {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}

/*accesorios*/

.reveal {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.8s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: scale(1);
}

/* secciones */

section > div {
  height: 100%;
  max-width: 100%;
  
}

.main-grid {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "TopBar"
    "Introduccion"
    "Hero"
    "Features"
    "Gallery"
    "Packs"
    "About"
    "Contact";
}